<html<!DOCTYPE html>
    <html>
      <head>
        {{>header_link}}
        <title>Weather Website</title>
      </head>
<body>
    {{>navbar}}
    <div class="hero-frame">
        <div class="hero-section">
          <div class="frame">
            <div class="welcome-to-weather-app-parent">
              <div class="welcome-to-weather">Welcome To Weather App</div>
              <b class="get-the-latest"
                >Get The Latest Weather Info Of Your City</b
              >
            </div>
            <a href="./weather">
            <button class="check-now-wrapper">
              <div class="check-now">Check Now</div>
            </button>
            </a>
          </div>
          <img
            class="images-1-1"
            alt=""
            src="./public/hi.jpg"
            data-animate-on-scroll
          />
        </div>
      </div>
      <div class="footer-frame">
        <div class="footer">
          <div class="created-with-by">created with by abhay awachar</div>
          <img class="heart-icon" alt="" src="./public/heart.svg" />
        </div>
      </div>
</body>
</html>