<img class="css-icon" alt="" src="./public/css.svg" />
    <div class="rectangle-parent">
      <div class="group-child"></div>
      <div class="nav">
        <div class="weather-forecast">
          <p class="weather-forecast1">Weather Forecast</p>
        </div>
        <div class="contact-parent">
        <a href="./contact">
          <b class="contact">Contact</b>
        </a>
        <a  href="./weather">
          <b class="weather">Weather</b>
        </a>
        <a href="./about">
          <b class="about">About</b>
        </a>
        <a href="./">
          <b class="home">Home</b>
        </a>
      </div>
      </div>
    </div>